.App {
  text-align: center;
}

.item-todo {
  padding: 14px;
  width: 600px;
  margin: 0 auto;
  text-align: left;
  margin-top: 15px;
  background: linear-gradient(
    90deg,
    rgb(162, 153, 168) 0%,
    rgba(184, 184, 184) 100%
    
  );
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}



.App .item-todo .item-text {
  display: inline-block;
  cursor: pointer;
}



/* .App input {
  margin-bottom: 15px;
} */

/* .App button {
  padding: 16px 7px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  text-transform: capitalize;
} */

.App .item-todo .item-delete {
  display: inline-block;
  cursor: pointer;
  float: right;
  font-size: 22px;
  position: relative;
  left: -4px;
  bottom: 5px;
}

.item-week {
  background: linear-gradient(
    90deg,
    rgb(181, 197, 122) 0%,
    rgb(184, 184, 184) 100%
    
  );
}

.item-lost {
  background: linear-gradient(
    90deg,
    rgb(226, 92, 74) 0%,
    rgb(184, 184, 184) 100%
    
  );
}

.item-completed {
  background: linear-gradient(
    90deg,
    rgb(116, 148, 120) 0%,
    rgb(184, 184, 184) 100%
    
  );
}

.strike {
  text-decoration: line-through;

}

@import '~antd/dist/antd.css';